@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

@import "sidenav";
@import "deviceConfiguration";

html,
body {

  font-family: "Martel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* html, body {
  /*   font-family: 'Edu AU VIC WA NT Hand', cursive;
   font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; // Change as needed: 100-900
  font-style: normal;
  font-variation-settings: 'wdth' 100;
} */
