@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

// etc
.sidebar {
  background: $body-bg;
  min-width: 250px;
  min-height: calc(100vh - 4rem); 
  max-height: calc(100vh - 4rem); 
  height:  calc(100vh - 4rem); 
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: min-width 0.3s, width 0.3s, max-width 0.3s, background 0.2s;
  .nav {
    flex-direction: column;
    width: 100%;
    .nav-link {
      color: $body-color;
      padding: 1rem 1.5rem;
      font-weight: $font-weight-medium;
      border-radius: 0;
      transition: background 0.2s, color 0.2s;
      &:hover, &.active {
        background: $gray-200;
        color: $primary;
      }
    }
  }
}
// Collapsed sidebar styles
.sidebar.collapsed {
  min-width: 60px;
  width: 60px;
  max-width: 60px;
  transition: min-width 0.3s, width 0.3s, max-width 0.3s, background 0.2s;
  .nav {
    .nav-link {
      padding: 1rem 0.5rem;
      text-align: center;
      font-size: 1.2rem;
      white-space: nowrap;
      place-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      & span {
        display: none;
      }
    }
  }
}

// Sidebar toggle button styles
.sidebar-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  align-self: flex-end;
  color: $body-color;
  transition: color 0.2s;
  &:hover {
    color: $primary;
  }
}

// Responsive adjustments
@media screen and (max-width: 768px) {
  // Hide sidebar by default on small screens
  .sidebar.collapsed{
    display: none !important;
  }
  .sidebar{
    display: flex !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    transition: min-width 0.3s, width 0.3s, max-width 0.3s, background 0.2s;
    height: 100%;
    z-index: 1050;
    background: $body-bg;
    box-shadow: 2px 0 8px rgba(0,0,0,0.15);
    border-right: 1px solid $border-color;
    border-bottom: none;
    flex-direction: column;
  }
}
